.header__reg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF;
    margin-left: auto;
    text-decoration: none;
    margin-top: 15px;
}

@media (max-width: 669px) {
    .header__reg {
        margin-right: 30px;
        margin-top: 35px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}