.profile__info {
    margin: 17px 24px auto 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 669px) {
    .profile__info {
        align-items: center;
        margin-top: 24px;
    }
}