.popup__close-button {
    background: transparent;
    background-image: url(../../../images/Close_Icon.svg);
    border: 0;
    position: absolute;
    width: 32px;
    height: 32px;
    right: -34px;
    top: -41px;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width: 669px) {
    .popup__close-button {
        transform: scale(62.5%);
        right: -3px;
        top: -43px;
    }
}