.ask {
    background-color: #FFFFFF;
    border-radius: 10px;
    transition: all 500ms ease;
    z-index: 3;
}

@media (min-width: 670px) {
    .ask {
        margin: 195px auto 0;
        width: 430px;
        height: 181px;
    }
}

@media (max-width: 669px) {
    .ask {
        margin: 123px auto 0;
        width: 282px;
        height: 118px;
    }
}