.top__esc {
    width: 0;
    height: 0;
}

@media (max-width: 669px) {
    .top__esc {
        text-align: center;
        width: 100%;
        color: #A9A9A9;
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}