.sign__mail {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #CCCCCC;
    background-color: #000000;
    display: block;
}