.img-form__title {
    color: #FFFFFF;
    margin: 10px 0 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

@media (max-width: 669px) {
    .img-form__title {
        font-size: 18px;
        line-height: 22px;
        margin: 10px 0 0;
    }
}