.element__number {
    font-size: 13px;
    line-height: 16px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    top: 18px;
    left: auto;
    right: 11px;
    background-color: transparent;
    border: 0;
    position: absolute;
}