.form__set {
    border: 0 none;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}

@media (min-width: 670px) {
    .form__set {
        width: 402px;
        height: 310px;
    }
}

@media (max-width: 669px) {
    .form__set {
        width: 230px;
        height: 302px;
    }
}